# Estimation And Confidence Intervals

###### a. Build 99% Confidence Interval Using Sample Standard Deviation

In [2]:
from scipy import stats
import pandas as pd
import numpy as np


# Importing libraries needed for ststistical calculations

In [12]:
dataset_1 = pd.read_csv('book_1.csv') # Reading csv file which contains data

In [13]:
dataset_1

    Data
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [19]:
loc_mean= dataset_1.mean() #Mean calculation
loc_mean

Data    1.238667
dtype: float64

In [22]:
scale_sd= dataset_1.std() #standard deviation calculation
scale_sd

Data    0.193164
dtype: float64

In [16]:
len(dataset_1)

15

In [25]:
# Scale=Standard error in t distribution
# Calculation of standard error

std_error = scale_sd/(15)**0.5
std_error

Data    0.049875
dtype: float64

In [35]:
dataset_ci=stats.t.interval(0.99, loc=1.23, scale=0.049875, df=14) 

# Calculating the interval at 99% confidence

print ('Mean using t distribution at 99% confidence interval is: ', np.round(dataset_ci,4))

Mean using t distribution at 99% confidence interval is:  [1.0815 1.3785]

In [ ]:
# The reason for using t-distribution-

#  - Sample size was not more than 15
#  - Population standard deviation was not known
#  - The sample mean lies in between the given interval at 99% confidence using the given parameters

###### b. Build 99% Confidence Interval Using Known Population Standard Deviation

In [36]:
dataset_1

    Data
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [41]:
dataset_z= stats.norm.interval(0.99, loc=1.238667, scale= 0.2) # Here sample mean was taken as loc and standard deviation was given as 0.2 million
print ('Mean number of characters printed before failure using z test at 99% confidence lies in the interval: ', np.round(dataset_z,4))

Mean number of characters printed before failure using z test at 99% confidence lies in the interval:  [0.7235 1.7538]

In [ ]:
# The sample mean lies in between the interval, hence the no of characters lies in between this interval in 99% of the cases 
# with the given parameters